@media (min-width: 750px) {
    .container {
        width: 750px
    }
}

.comic-title {
    margin-top: 64px;
    margin-bottom: 0px;
}

.b-lazy {
    margin: auto;
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
               opacity: 0;
}

.b-lazy.b-loaded {
   opacity: 1;
}