@import services.Comic

@(comic: ComicWithShare)

<div class="row">
    <div class="col-xs-12">
        <a href="@controllers.routes.ComicsController.show(comic.comic.slug)">
            <h3 class="comic-title">@comic.comic.title</h3>
        </a>
    </div>
    <div class="col-xs-12">
        <h6 class="text-muted">@comic.comic.artist &#183; <a href="@comic.comic.originalUrl" target="_blank">@comic.comic.date.toString("yyyy-MM-dd")</a></h6>
    </div>
    <div class="col-xs-12">
        <img    class="img-responsive placeholder"
                data-echo="@comic.comic.imgUrl"
                height="250px"
                alt="@comic.comic.title">
    </div>
    <div class="col-xs-12 btn-group btn-group-justified" role="group">
        <a class="btn btn-default" target="_blank" href="@comic.twitterSharer">
            Share To Facebook
        </a>
        <a class="btn btn-default" target="_blank" href="@comic.facebookSharer">
            Share To Twitter
        </a>
    </div>
</div>
